@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/* set background color(red) for the html document */
:root {
  --red: #ff4f5b;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.3s cubic-bezier(0.16, 0.8, 0.6, 1.52);
}

::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden; /* added according to responsiveness */
}

html::-webkit-scrollbar {
  width: 1.3rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: var(--red);
}

body {
  background: #f9f9f9;
}

header {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 2.5rem 7%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 2.5rem;
  color: #666;
}

header .logo span {
  color: var(--red);
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin-left: 2.5rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: #999;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--red);
  border-bottom: 0.2rem solid var(--red);
  padding: 0.7rem 0;
}

#menu {
  font-size: 3rem;
  color: #999;
  cursor: pointer;
  display: none;
}
